{% extends "food_counter/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Choose one of your meals</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info brown_button_white_bg" type="submit">Add</button>
            </div>
        </form>
    </div>
    <a class="btn btn-secondary brown_button" href={% url 'meal-create' %}>Add new Meal</a>
{% endblock content %}