

{% extends "food_counter/base.html" %}
{% block content %}
<h1>Calorie Counter Home!</h1>


        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ date.date }}</a>
            </div>
            <h2 class="article-title">{{ date.total_calories|floatformat:0 }} kcal</h2>
            <h2 class="article-content"> P: {{ date.total_protein|floatformat:1 }} F: {{ date.total_fat|floatformat:1 }} C: {{ date.total_carbs|floatformat:1 }}</h2>
              <h3>Meals:</h3>
                {% for meal in date.meals.all %} <!-- pętla po posiłkach -->
                  <h4> <!-- zaczynamy tag h4 -->
                    {{ meal.meal_name }} - {{ meal.calories|floatformat:0 }} kcal P: {{ meal.protein|floatformat:1 }} F: {{ meal.fat|floatformat:1 }} C: {{ meal.carbs|floatformat:1 }}
                  </h4> <!-- kończymy tag h4 -->
                {% endfor %}
            {% if object.user == user %}
              <div>
                <p>{{ date.user }}</p>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'date-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'date-delete' object.id %}">Delete</a>
              </div>
        {% endif %}

          </div>
        </article>


{% endblock content %}


